/* Welcome Page */
.welcome-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    padding: 20px;
    gap: 20px;
}

/* Texte */
.text-container {
    max-width: 45%;
}

.text-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f3fbfd;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #030810;
    background: rgba(0, 191, 255, 0.8);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.cta-button:hover {
    background-color: #3ab0d6;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Image */
.image-container {
    flex-shrink: 0;

}

.image-container :hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 191, 255, 0.5);
}

.image-container img {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 191, 255, 0.8);
}

/* Media Queries - Responsive  Design */
@media screen and (max-width: 1024px) {
    .welcome-page {
        flex-direction: column; /* Affichage en colonne */
        align-items: center;
        height: auto;
        text-align: center;
    }

    .text-container {
        max-width: 90%;
    }

    .image-container img {
        max-width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .text-container h2 {
        font-size: 1.8rem;
    }

    .text-container {
        max-width: 100%;
    }

    .image-container img {
        max-width: 90%;
    }

    .cta-button {
        font-size: 1rem;
        padding: 8px 16px;
    }
}
